.DS_Store
node_modules
log
cache
package-lock.json
/web/npm-debug.log
/npm-debug.log
/web/workspace/public/robots.txt
/web/.wallet
/web/config/config.qa.json
/web/config/config.production.json
/web/config/config.development.json